.container {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #cacaca;
    border-radius: 5px;

    flex-wrap: wrap;
    text-align: left;

    padding: 30px 0 30px 0;
    margin-bottom: 10px;
}

.column {
    border-right: solid;
    border-width: 1px;
    padding: 10px 30px;
    border-color: #cacaca;
}

@media (max-width: 600px) {
    .column {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.column:last-child {
    border: none;
}