.container {
    width: 200px;
    border-right: solid;
    border-width: 1px;
    border-color: #cacaca;
    text-align: left;
    margin: 25px 0px 25px 25px;
}

.container:last-child {
    border-right: none;
}