.container {
    cursor: pointer;
    position: relative;
}

.container .middle {
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 10px;
}

.container .title {
    display: none;
}

.container:hover .title {
    display: block;
    color: white;
}

.container .image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.container:hover .image {
    border-color: #33b2e1
}