.filterItem {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.focusedItem {
    font-weight: bold;
}

.container {
    width: 100%;
}

.tooltip {
}

@media (max-width: 600px){
    .container {
        display: block;
    }
    .column {
        border: none;
    }
}